body{
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction:column;
}
h2{
    margin-bottom: 20px;
    color: #333;
    font-size:28px;
    font-weight: bold;
}
form{
    background: blue;
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    width: 300px;
    text-align: left;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input{
    width:100px;
    padding: 8px;
}
